@import "tailwindcss";

@theme {
  --color-brand-lightest: #e5f0ff;
  --color-brand-light: #99c2ff;
  --color-brand-primary: #0052cc;
  --color-brand-dark: #002966;
  --color-brand-surface: #cce0ff;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

@layer utilities {
  @keyframes shine {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .animate-shine {
    background-size: 200% auto;
    animation: shine 4s linear infinite;
  }
}
